@import "rose-pine.css";
* {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 16px;
  min-height: 0;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

#waybar {
  background-color: @base;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface;
  margin-left: 1rem;
}

#workspaces button {
  color: @muted;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @text;
  border-radius: 1rem;
}

#clock,
#battery,
#pulseaudio {
  background-color: @surface;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @subtle;
  border-radius: 1rem 1rem 1rem 1rem;
  margin-right: 1rem;
}

#battery {
  color: @subtle;
}

#battery.charging {
  color: @subtle;
}

#battery.warning:not(.charging) {
  color: @love;
}

#battery.critical:not(.charging) {
  color: @love;
}

#battery {
  border-radius: 1rem 1rem 1rem 1rem;
}

#pulseaudio {
  color: @subtle;
  border-radius: 1rem 1rem 1rem 1rem;
  margin-left: 0.5rem;
}
